<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_shopping_cart_checkout_24"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/myThemes"
        tools:targetApi="31">
        <activity
            android:name=".ProfielCustamer"
            android:exported="false" />
        <activity
            android:name=".MainActivity2ownner"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".AddProduct"
            android:exported="true" />
        <activity
            android:name=".Scand2"
            android:exported="false"
            android:theme="@style/myThemesSplace" />
        <activity
            android:name=".Scren1"
            android:exported="true"
            android:theme="@style/myThemesSplace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Edite"
            android:exported="false" />
        <activity
            android:name=".Profiel"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".Loginapp"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".infoProduct"
            android:exported="true" />

        <activity
            android:name=".EditeProduct"
            android:exported="true" />
        <activity
            android:name=".welcome"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>